* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(235, 18%, 26%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
    display: flex;
  float: right;
  background-color: hsl(0, 0%, 100%);
  width: 650px;
  padding: 10px;
  height: 400px;
  border: 0px solid white;
  border-radius: 20px;
  /* border: 1px solid white; */
  
  
}

.left {
       
    border-radius: 20px ;
    width: 60%;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid greenyellow;
    padding: 10px 40px;
    
}
.content{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px;
    border: 2px solid black;
   
    
    /* border-radius: 20px ; */
    width: 105%;
    height: 85%;
    /* background-color: hsl(0, 0%, 100%); */
    /* padding: 10px 40px; */
    /* margin: 10px 0px; */
}
.content h1{
    margin-bottom: 20px;
    text-align: left;
    color: hsl(235, 18%, 26%);
}







.right {
    /* flex: 50%; */
    /* border: 2px solid rgb(206, 0, 0); */
    height: 100%;
    border-radius: 20px ;
    width: 40%;
    background-color: hsl(0, 0%, 100%);

    
}
.right img{
    
    /* border: 2px solid black; */
    
    border-radius: 25px ;
    width: 250px;
    height: 400px;
    margin-left: 2px;
    /* margin-top: 0px; */
    /* padding: 5px 0px; */
}

/* .form-container {
    flex: 20%;
  border: 2px solid black;
}
.container .image {
  border: 2px solid rgb(22, 255, 1);
}
.container .image img {
  width: 200px;
  height: 40 0px;
} */
