@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(235, 18%, 26%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
    display: flex;
  float: right;
  background-color: hsl(0, 0%, 100%);
  width: 650px;
  padding: 10px;
  height: 400px;
  border: 0px solid white;
  border-radius: 20px;
  /* border: 1px solid white; */
  
  
}

.left {
       
    border-radius: 20px ;
    width: 60%;
    background-color: hsl(0, 0%, 100%);
    /* border: 2px solid greenyellow; */
    padding: 10px 40px;
    
}
.content{
    margin-top: 14px;
    margin-bottom: 20px;
    padding: 20px 0px;
    /* border: 2px solid black; */
    
   
    
    /* border-radius: 20px ; */
    width: 110%;
    height: 85%;
    /* background-color: hsl(0, 0%, 100%); */
    /* padding: 10px 40px; */
    /* margin: 10px 0px; */
}
.content h1{
    
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: left;
    color: hsl(235, 18%, 26%);
}
.content li,p{
  font-family: "Roboto", sans-serif;
  padding: 3px;
  font-weight: 400;
  font-size: 16px;
  color: hsl(235, 18%, 26%);
}
.content li{
  list-style:url(assets/images/icon-list.png);
  /* background-color: rgb(46, 44, 44); */
}
.content ul{
  padding: 10px;
  
}

form{
  padding: 5px;
  
}
form input{
  width: 70%;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid hsl(231, 7%, 60%);
}
button{
  font-family: 'Roboto', sans-serif;
  /* display: block; */
  text-align: center;
  width: 77%;
  padding: 10px 10px;
  margin: 0px 0px;
  border-radius: 5px;
  border: 1px solid hsl(231, 7%, 60%);
  background-color: hsl(235, 18%, 26%);
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;

}






.right {
    /* flex: 50%; */
    /* border: 2px solid rgb(206, 0, 0); */
    height: 100%;
    border-radius: 20px ;
    width: 40%;
    background-color: hsl(0, 0%, 100%);

    
}
.right img{
    
    /* border: 2px solid black; */
    
    border-radius: 25px ;
    width: 250px;
    height: 400px;
    margin-left: 2px;
    /* margin-top: 0px; */
    /* padding: 5px 0px; */
}

/* .form-container {
    flex: 20%;
  border: 2px solid black;
}
.container .image {
  border: 2px solid rgb(22, 255, 1);
}
.container .image img {
  width: 200px;
  height: 40 0px;
} */
